.label {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #151313;
}
.description {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #848484;
}

.appointments-description {
  margin-left: 1rem;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #848484;
}
.calculator-description {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;

  color: #151313;
}
.btn-product{
    background-color: #F2BD2A;
}
.form-select-border {
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #f2bd2a !important;
  border-radius: 10px;
}  
input[type="range"]::-webkit-slider-thumb {
  background-color: #f2bd2a !important;
}
input[type="range"]::-webkit-slider-progress {
  background-color: #f2bd2a !important;
  height: 1em;
}
.roi-description {
  margin-left: 1rem;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #848484;
}
.card {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}
.year-data {
  margin: 1rem;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;

  color: #f2bd2a;
}
.approx-data {
  margin: 1rem;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #f2bd2a;
}
